/*===== GENERAL =====*/

/*google-fonts include*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Raleway:100,200,300,400,500,600,700,800,900');

body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    cursor: pointer;
}

input:hover, input:focus {
    outline: none;
}

ul,
li {
    list-style: none;
}

.btn {
    border: 1px solid #333;
    border-radius: 0px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding: 8px 18px;
    font-size: 12px;
    transition: all .4s ease-in-out;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    transition: all .4s ease-in-out;
}

.btn-post {
    margin-top: 20px;
    text-transform: uppercase;
}

.btn-profile {
    margin: 22px auto 10px;
}

.btn-profile:hover {
    color: #fff;
    border: 1px solid #cccccc;
}

img {
    max-width: 100%;
}

/*===== NAVIGATION =====*/

.navbar-blog {
    background-color: #FDFFFC;
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
}

.navbar-nav {
    padding-top: 0px;
}

.navbar li a {

    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

@media (min-width: 1024px) {
    nav.navbar.bootsnav ul.nav > li > a {
        font-family: 'Montserrat', sans-serif;
        padding: 30px 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}

.navbar-toggle {
    margin-top: 13px;
    background: #333;
}

.big-logo {
    padding: 90px 0px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eee;
    background-color: #fff;
}

.side .widget {
    background-color: #000;
}

@media (min-width: 768px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    margin-top: 7px;
}
}

@media (max-width: 992px) {
nav.navbar .navbar-brand img.logo {
    width: 80px;
}
}

/*===== HERO =====*/

.hero {
    position: relative;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 500px;
    margin-top: 80px;
    margin-bottom: 80px;
    z-index: 1;
}

.table-row {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    vertical-align: middle;
    display: table-cell;
}

.hero-content {
    position: absolute;
    top: 17.8em;
    left: 50%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px 43px;
    z-index: 1111;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

.hero-content i,
.box-post i {
    font-size: 12px;
}

.category-head,
.post-category {
    padding: 0px 5px;
    padding-right: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title-head,
.post-title {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 35px;
}

.date {
    letter-spacing: 1px;
    margin-top: 13px;
}

/*===== POST =====*/

.post-item {
    background-color: #fff;
    margin-bottom: 80px;
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

.post-head {
    position: relative;
}

.box-post {
    position: absolute;
    top: 27em;
    left: 50%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 50px;
    -ms-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
}

.post-head img {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    text-align: center;
    display: block;
}

.post-category {
    text-transform: lowercase;
}

.post-title {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 28px;
    cursor: pointer;
}

.post-date {
    margin-top: 10px;
}

.post-detail {
    margin-top: 100px;
    padding: 0 30px 50px 40px;
}

.post-detail p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 14px;
}

.post-footer {
    display: block;
    padding: 0 40px 60px 40px;
}

.post-comment i {
    margin-right: 5px;
}

.post-comment a {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

.post-social {
    float: right;
    position: relative;
    margin-top: -29px;
}

.post-social ul li {
    display: inline-block;
}

.post-social ul li i {
    text-align: center;
    padding: 10px 10px;
    width: 36px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #333;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.post-social ul li i:hover {
    background: #333;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.page-numbers {
    padding-top: 10px;
    padding-bottom: 60px;
}

.page-number {
    width: 36px;
    height: 36px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.page-numbers ul {
    padding: 0;
    text-align: center;
    margin: 30px 0;
}

.page-numbers ul li:first-child {
    margin-right: 50px;
}

.page-numbers ul li:last-child {
    margin-left: 50px;
}

.page-numbers ul li:nth-last-child(2) {
    margin-right: 0px;
}

.page-numbers ul li {
    display: inline-block;
    margin-right: 25px;
}

.page-numbers ul a span {
    color: #333;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-numbers ul a span:hover,
.page-numbers ul a span:active {
    color: #fff;
    outline: 0;
}

.page-number:hover,
.page-number:active {
    background-color: #333;
}

.page-numbers .active {
    background-color: #333;
}

.page-numbers .active:active {
    color: #fff;
}

.fa-angle-double-left,
.fa-angle-double-right {
    color: #bebebe;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    font-size: 14px;
}

.fa-angle-double-left:hover,
.fa-angle-double-right:hover {
    color: #606060;
}

/* ===== SINGLE POST ===== */
#single-post .post-detail {
    margin-top: 125px;
}

#single-post .post-detail p {
    margin-bottom: 20px;
    text-align: justify;
    padding-right: 15px;
}

cite::before {
    content: "-";
    padding-right: 10px;
}

cite {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-size: 12px;
    color: #aaaaaa;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 100%;
    font-style: normal;
}

blockquote {
    padding: 10px 20px;
    padding-right: 40px;
    margin: 0 0 20px 50px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    text-align: justify;
}

/*===== SIDEBAR =====*/

.widget {
    position: relative;
    background-color: #fff;
    margin-bottom: 40px;
    border-top: 3px solid #333;
    padding: 40px 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
    text-align: center;
}

.about-widget {
    padding: 52px 16px 40px;
}

.about-widget-head {
    position: relative;
}

.profile-img {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    -o-object-fit: cover;
    object-fit: cover;
    text-align: center;
    display: block;
    border: 1px solid #efefef;
    text-align: center;
    margin: 0 auto;
}

.profile-name {
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: #333;
    display: inline-block;
    letter-spacing: 1px;
    padding: 6px 14px;
    padding-bottom: 8px;
    z-index: 1111;
    position: absolute;
    left: 51%;
    bottom: -35px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about-widget-content p {
    color: #555555;
    text-align: center;
    padding: 0px 30px;
    font-weight: 400;
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1111;
    margin: 35px auto 10px;
}

.widget-title h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.insta-gallery {
    margin-bottom: 20px;
}

.insta-gallery a img {
    height: 144px;
    width: 144px;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.9;
    text-align: center;
    padding: 7px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.insta-gallery a img:hover {
    opacity: 5;
}

.widget-recent-post {
    padding-left: 18px;
    padding-right: 18px;
}

.recent-post {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: left;
}

.recent-post:frist-child {
    margin-top: 10;
}

.recent-post:last-child {
    margin-bottom: 0;
}

.recent-post img {
    height: 62px;
    width: 62px;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
    margin-right: 14px;
}

.recent-post h4 a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.recent-post h4 {
    margin: 2px 0;
}

.recent-post h4 a:hover {
    color: #333;
}

.recent-post p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #555555;
}

.recent-tags ul {
    padding-left: 10px;
    list-style: none;
    text-align: left;
}

.recent-tags li {
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 10px;
}

.tags {
    display: inline-block;
    background-color: #333;
    color: #fff;
    line-height: 25px;
    font-size: 10px;
    padding: 0 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*===== FOOTER =====*/

.footer {
    background-color: #fff;
    position: relative;
    border-top: 1px solid #eaeaea;
    padding: 80px 0px;
    padding-bottom: 90px;
    margin-top: 50px;
}

.footer-logo img {
    height: 65px;
    width: auto;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 20px;
}

.footer-logo p {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 21px;
    color: #333;
}

.subscribe {
    width: 100%;
    border: 0;
    background-color: #f8f8f8;
    color: #555;
    padding: 14px 18px;
    font-size: 13px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    font-family: 'Raleway', serif;
}

.widget-subscribe a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    margin-top: 10px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.widget-subscribe a:hover {
    background-color: #c7c7c7;
}

.copyright {
    background-color: #fff;
}

.copy-text {
    color: #9d9d9d;
    padding: 26px 0;
    border-top: 1px solid #a7a7a7;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    word-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.copy-text span {
    color: #333;
}

/*===== SINGLE POST =====*/

#single-post {
    margin-top: 100px;
}
